/* -- zerando margin e primeira pate css */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  background: #f7f7f7;
  display: grid;
  gap: 60px;
  justify-items: center;
  margin-top: 60px;
}

h1,
h2,
h3,
p,
img {
  margin: 0px;
  padding: 0px;
}

img {
  max-width: 100%;
  height: 100%;
  display: block;
}

p {
  font-size: 1.25rem;
  margin: 0px;
  line-height: 1.3;
}

/* -- css "marca" e "menu" -- */

.marcar {
  display: grid;
  justify-items: center;
}

.lista-menu {
  margin-top: 60px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.lista-menu a {
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  color: #000000;
  padding: 1rem 2rem;
  background: #ffffff;
  border: 2px solid #ffffff;
  border-radius: 5px;
}

.lista-menu a:hover {
  border-bottom: 2px solid #ee2211;
  border-radius: 4px;
}

/* -- introdução & Foto Bik & container*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.introducao {
  background: #ffffff;
  text-align: right;
  display: grid;
  align-content: center;
  justify-items: end;
  padding: 40px;
  gap: 20px;
}

.introducao h1 {
  position: relative;
}

.introducao h1::after {
  content: "";
  width: 60px;
  height: 4px;
  background: #ee2211;
  position: absolute;
  top: -50px;
  right: -70px;
}

.introducao p {
  font-size: 1.25rem;
}

.introducao h1 {
  font-size: 2rem;
}

.introducao a {
  text-decoration: none;
  padding: 1rem 2rem;
  background: #000000;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 5px;
}

.introducao a:hover {
  background: #900;
}

/* -- container02 & Vantagens -- */

.container2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: 1000px;
}

.subtitulo {
  font-size: 4rem;
  color: #999999;
  text-align: right;
  display: grid;
  align-content: center;
  background: url("/img/onda.svg");
  padding: 40px;
  gap: 20px;
}

.vantagens {
  background: #ffffff;
  padding: 40px;
}

.vantagens-itens {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 10px 20px;
  padding: 20px;
  border-left: 4px solid transparent;
}

.vantagens-itens:hover {
  border-color: #ee2211;
}

.vantagens-itens:nth-child(odd) {
  background: #f7f7f7;
}

.vantagens-itens p {
  grid-column: 2;
}

/* -- Rodapé -- */

.footer {
  background: #ffffff;
  text-align: center;
  padding: 40px;
  box-sizing: border-box;
  width: 100%;
}
